*{
  font-family: sans-serif;
}
body{
  background: #000000;
  color: #A0A0A0;
}
:root{
  --clr: #00CC00;
}
::selection{
  color: #FFFFFF;
  background: #000000;
}
p.no_output{
  font-family: monospace, sans-serif;
  text-shadow: 0 0 10px #FFFFFF;
}